* {
    box-sizing: border-box;
    font-family: Helvetica,  Arial, sans-serif;
    
}
body{
    display: flex;
    margin: 10px;
    flex-direction: column;
    padding: 20px;
    border: 2px solid lightslategray;
    height: 95vh;
    margin: auto; 
}

h1 {
   
    background-color: rgb(144, 204, 144);
    padding: 5px 90px;
    margin-top: 10%;
    color: white;
    font-size: 20px;
    font-weight: normal;
}
ul {
    
}
ul .btn { 
    order: 1;
}
li { 
    list-style-type: none;  
    color: orange;
    order: 1;

}
